@import url("../lib/jquery/plugin/jquery.splitter.css");
@import url("../lib/bootstrap/bootstrap.min.css");
@import url("../lib/bootstrap/font-awesome.min.css");
@import url("../lib/bootstrap-tour/bootstrap-tour-standalone.css");
@import url("../lib/jquery/jquery-ui.min.css");
@import url("../lib/jquery/jquery-ui.structure.min.css");
@import url("../lib/jquery/jquery-ui.theme.min.css");
@import url("../lib/jquery/jquery-ui-slider-pips.min.css");
@import url("../lib/leaflet/leaflet.css");
@import url("../lib/leaflet/plugin/leaflet-measure.css");
@import url("../lib/leaflet/plugin/L.Control.ZoomBox.css");
@import url("../lib/leaflet/plugin/leaflet.magnifyingglass.css");
@import url("../lib/leaflet/plugin/Control.MiniMap.css");
@import url("../lib/semanticUi/semantic.min.css");
@import url("../lib/d3/animate.min.css");
@import url("../lib/sweetalert/sweetalert.css");
@import url("../lib/spectrum/spectrum.css");

:root{
    --main-color:#4E60AA;
    --active-color:#8CB91B
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 0;
    text-decoration: none;
}
body {
    padding: 0;
    margin: 0;
    //font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.cursor{
    cursor:pointer;
}
.float-right{
    float: right !important;
}
/*JQuery Dialog*/
.ui-widget-overlay.custom-overlay
{
    background-color: black;
    background-image: none;
    opacity: 0.9;
    z-index: 1040;
}
/* navbar */
.navbar {
    background: #4E60AA; /* For browsers that do not support gradients */
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0;
}
.navbar .navbar-toggle{
    background-color: #4E60AA !important;
}
.navbar-collapse .in{
    background-color: #4E60AA;
    width: auto;
    float: right;
}
.navbar .in{
    background-color: #4E60AA;
    width: auto;
    float: right;
    z-index: 1000;
}
.navbar .navbar-text{
    color: white;
    font-weight: bold;
    margin-top: 15px;
    font-size: large;
    margin-left: 20%;
}
.navbar .navbar-brand{
    height: 50px;
    left:0;
    width: 50px;
    background: white url(../assets/kopf.png) no-repeat center;
}
.navbar .navbar-nav{
    float: right;
    margin-right: 20px;
    width: auto;
}
.navbar .navbar-nav li a{
    color: white;
}
.navbar .navbar-nav li a:hover{
    background-color: #8bba23;
    cursor:pointer;
}
.navbar.navbar-nav .dropdown .dropdown-toggle:hover{
    background-color: #8bba23;
    cursor:pointer;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background-color: #8bba23 !important;
    cursor:pointer;
}
.navbar .navbar-collapse button{
    margin-top: 7px;
}

/*
The Tour
 */
.tour-step-background,
.tour-backdrop {
    position: fixed;
}
/*
Slider
 */
.ui-autocomplete {
    z-index: 999999999999999999999999 !important;
    bottom: 0px;
    overflow-y: auto;
    height: auto;
    max-height: 600px;
    width: 320px;
}
.hr {
    height: 1px;
    background-color: black;
    color: black;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}
.hr_list{
    height: 1px;
    background-color: black;
    color: black;
    margin-bottom: 10px !important;
    margin-top: 5px !important;
}
.hr_time{
    height: 1px;
    margin: 2px;
}
.span{
    font-weight: bold;
}
/*map windows */
.indikator_header {
    position: absolute;
    top: 10px;
    z-index: 500;
    padding: 5px;
    white-space: normal;
    box-shadow: 0 0 3px gray;
    background-color: white;
    font-size: 13px;
    max-width: 300px;
    text-align: center;
    left: 20%;
}
.indikator_header_rechts{
    display: none;
    position: absolute;
    top: 10px;
    z-index: 1000;
    padding: 5px;
    white-space: normal;
    box-shadow: 0 0 3px gray;
    background-color: white;
    font-size: 13px;
    max-width: 300px;
    text-align: center;
    right: 20%;
}
.header{
    font-size: 13px;
    font-weight: bold;
}
#mapwrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    xtouch-action: none;
}

/*SEARCH*/
.search {
    width: 100%;
    margin-bottom: 10px;
}
.search .input{
    width: 100%;
}
.search .input #search_input_field::placeholder{
    font-weight: bold;
    color:black !important;
}
.ui.search .prompt {
    border-radius: 0 !important;
    border:1px solid black;
}

/*Dialog*/
.hr_dialog {
    margin-top: 1px;
    margin-bottom: 1px;
}
.ui-dialog { z-index: 99999 !important ;}
.ui-widget-header
{
    background: #4E60AA !important;
    color: white !important;
}
.ui-dialog .ui-dialog-content {
    padding: 10px;
}
.ui-slider-label{
    color: black !important;
}
.first{
    margin-top: 0 !important;

}
.feeback_label{
    margin-top: 10px;
}
/*
Feedack
 */
#feedback_div{
    width: 100%;
    overflow: hidden;
}
.feedback_form{
    margin: 10px;
}
.inputGroupContainer {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.input_feedback{
    width: 100%;
}
.btn-group-feedback{
    float: left;
    margin: 10px;
}
/*progress Bar*/
#progress_div{
    display: none;
    position: absolute;
    left: 40%;
    bottom: 50%;
    top: 50%;
    z-index: 200000;
    right:40%;
    width: 300px;
    height: 300px;
    background: white;
    border: 2px solid #4E60AA;
    padding: 10px;
    border-radius: 15px;
}
#progress_div #abort_btn {
    width: 50%;
    margin-left: 20%;
    background-color: #8CB91B;
    color:white;
}
.progress{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #4E60AA;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
}
#progressbar_div{
    width: 90%;
}
.progress-bar{
    line-height: 50px;
    font-size: 25px;
}
/*Button group for legend and map choice*/
.btn-group-map{
    position:absolute;
    z-index: 1000;
    display: inline-block;
    bottom: 20px;
}
.btn-group-map .map-btn{
    background-color: #4E60AA;
    transform: rotate(270deg);
    margin-bottom: 50px;
    height: 50px;
    right: -28px;
    border:1px solid white;
}
.btn-group-map .legende_button{
    display: none;
}
/*
Layer Control
*/
#layer_control .container{
    width:90%;
}
#layer_control .container h3{
    margin-top: 20px;
}
#layer_control .maps{
    width:100%;
    margin-top: 20px;
}
#layer_control .maps .image-content{
    display: inline-block;
    width: 100%;
}
#layer_control .maps .float-left{
    float:left;
    width:40%;
}
#layer_control .maps .float-right{
    float: right;
    width:40%;
}
#layer_control .maps .image{
    width: 90px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
}
#layer_control .extra-maps .extra-image{
    width: 90px;
    height: 118px;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
}
#layer_control .maps .name{
    float:left;
    margin-left: 20px;
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    width:auto;
    max-width: 50%;
}
#layer_control .maps #osm .pic{
    background-image: url("../assets/icon/osm.png");
}
#layer_control .maps #webatlas .pic{
    background-image: url("../assets/icon/webatlas.png");
}
#layer_control .maps #topplus .pic{
    background-image: url("../assets/icon/topplus.png");
}
#layer_control .maps #satellite .pic{
    background-image: url("../assets/icon/satellite_view.png");
}
#layer_control .maps #leer .pic{
    border: 1px solid black;
}
#layer_control .extra-maps #laendergrenzen .pic{
    background-image: url("../assets/icon/bld.png");
}
#layer_control .extra-maps #kreisgrenzen .pic{
    background-image: url("../assets/icon/krs.png");
}
#layer_control .extra-maps #gemeindegrenzen .pic{
    background-image: url("../assets/icon/gem.png");
}
#layer_control .extra-maps #autobahn .pic{
    background-image: url("../assets/icon/bab.png");
}
#layer_control .extra-maps #fernbahnnetz .pic{
    background-image: url("../assets/icon/bahn.png");
}
#layer_control .extra-maps #gewaesser .pic{
    background-image: url("../assets/icon/water.png");
}
.active{
    border: 3px solid green;
    padding: 5px;
}
 /*
Legende
 */
.legende{
    font-size: 12px;
    display: none;
    position: absolute;
    background: white;
    padding: 5px;
    z-index: 3000;
    border:2px solid #4E60AA;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 30px;
}
.legende #grundakt_legende{
    float:left;
    width: 80px;
    margin-top: 3px;
    font-size: x-small;
    line-height: 1.4;
}
.legende #legende_grund_line{
    line-height: 15px;
    width: 100%;
    margin-left: 10px;
    display: inline-block;
}
.legende #legende_grund_line i{
    width: 15px;
    height: 10px;
    float: left;
    margin-right: 8px;
}
.legende #grundaktmap {
    float:right;
    margin-top: 3px;
    width: 160.8px;
    height: 150px;
    background-color: white;
}
.legende #hover_info_grundaktmap{
    position: absolute;
    z-index: 10000;
    right: 30px;
    width: 100px;
    background-color: rgba(255,255,255,0.5);
    display: none;
    margin-top: 20px;
}
.legende #grundaktmap_btn{
    background-color: #8CB91B;
    width: 100%;
    margin-bottom: 0;
    margin-top: 10px;
}
.legende #legende_close{
    font-weight: bold;
    position: fixed;
}
#legende_close_l{
    font-weight: bold;
    position: fixed;
}
/* also for export needed*/
.legende_line{
    line-height: 15px;
    width: 100%;
    display: inline-block;
}
.legende_line i{
    width: 15px;
    height: 10px;
    float: left;
    margin-right: 8px;
}
.legende_map .zusatzlayer{
    line-height: 15px;
    width: 100%;
    display: inline-block;
}
.legende_map .zusatzlayer div{
    width: 15px;
    height: 5px;
    float: left;
    margin-right: 8px;
    margin-top: 5px;
}
/*Legende Histogramm*/
.legende #dropdown_datenalter{
    display: none;
}
.legende #datenalter{
    pointer-events: auto;
}
.legende #Klassifikationsmethode_legende{
    cursor: pointer;
}
.legende #datenalter #histogramm_pic{
    width: 100%;
    margin-top: 5px;
}
.legende #histogramm_pic #svgId{
    width: 100%;
    height: 60px !important;
}
.legende #iconhistogramm {
    width: 100%;
}
.legende #histogramm_pic svg g .value-rect{
    fill:#000000;
}
.legende #histogramm_pic svg g .value-rect:hover{
    fill:red;
    font-size: 1600px;
}
.legende .hist_info{
    display: none;
}
/*
Toolbar.js
*/
.content {
    height: 100%;
}
#content #overflow_content{
    overflow-y: auto;
    overflow-x: hidden;
    height: 99%;
}
.btn_dropdown {
    background-color: #8bba23 !important;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
#btn_reset {
    background-color: grey !important;
}
.toolbar {
    background: rgba(255, 255, 255, 1);
    width: 350px;
    bottom: 30px;
    top: 0;
    position: absolute;
    left: 0;
    z-index: 20000;
    border:2px solid #4E60AA;
    padding: 20px;
    box-sizing: border-box;
    opacity: 1;
}
.toolbar_close {
    left: -350px;
    opacity: 1;
}
.toolbar .menu_m {
    height: 100px;
    width: 25px;
    background: #4E60AA;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .3);
    position: absolute;
    right: -25px;
    top: 30%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #333;
    cursor: pointer;
    padding-left: 2px;
}

.toolbar .menu_m span {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    position: relative;
    transform: rotate(90deg);
    top: 39px;
    left: -18px;
}
.toolbar .tools {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.toolbar #content .dropdown_choice{
    width: 100%;
    border-radius: 5px;
    background: #4E60AA;
    display: inline-block;
    padding: 7px;
    height: 34px;
    color:white;
    margin-bottom: 10px;
}
.toolbar #content .dropdown_choice .hh_sf{
    float: left;
    width: 90%;
    cursor: pointer;
    height: 100%;
}
#content .dropdown_choice .hh_sf i{
    margin-right: 30px;
}
#content .dropdown_choice .pin{
    float: right;
    cursor: pointer;
}
.arrow_pinned{
    transform: rotate(45deg);
    color: #8CB91B;
}
#content .btn-primary:not(.secondary) {
    width: 100%;
    color: white;
    margin-bottom: 1em;
}

#content .dropdown_menu .dropdown_menu-toggle {
    background-color: white;
    color:grey;
}
#content .dropdown_menu ul.dropdown_menu-menu{
    width:100%;
    margin-bottom: 5px;
}
.toolbar .dropdown_menu {
    display: none;
    margin-bottom: 5px;
    margin-top: 5px;
}
/*Indicator choices also for the cloned ones*/
.indicator_ddm{
    width: 100% !important;
    background-color: white !important;
    border: 1px solid black !important;
}
.indicator_ddm .indicator_ddm_item_bold{
    font-weight: bold !important;
}
.indicator_ddm #kat_auswahl{
    width: 100%;
    height: auto;
    border: 1px solid #4E60AA !important;
}
.indicator_ddm .menu .item{
    border-left: 1px solid #4E60AA !important;
    border-right: 1px solid #4E60AA !important;
    background-color: white;
}
.indicator_ddm .menu .item:hover{
    background-color:rgba(140,185,27,1) !important;
}
.indicator_ddm .menu .submenu{
    z-index: 20000 !important;
    height: auto !important;
    min-height: 10px !important;
    overflow-y: auto !important;
    padding-bottom: 10px !important;
}
.toolbar #content #dropdown_raumgl{
    margin-top: 0;
}
.toolbar #content #dropdown_raumgl .spatial_choice{
    display: inline-block;
    width: 90%;
    margin: 10px;
}
.toolbar #content #dropdown_raumgl .spatial_choice .label_spatial_choice{
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
    font-size: 1.8rem !important;
    margin-top: 0.5rem;
}
.toolbar #content #dropdown_raumgl .spatial_choice #gebiete_label{
    float: left;
}
.toolbar #content #dropdown_raumgl .spatial_choice #spatial_choice_checkbox_container label:before{
    width: 4.5rem !important;
    height: 2.5rem !important;
    background: #8CB91B !important;
}
.toolbar #content #dropdown_raumgl .spatial_choice #spatial_choice_checkbox_container label:after{
    width: 2.5rem !important;
    height: 2.5rem !important;
}
.toolbar #content #dropdown_raumgl .spatial_choice #raster_label{
    float: right;
}
.toolbar #content #dropdown_raumgl .spatial_choice .checkbox{
    margin-top: 0 !important;
}
.toolbar #content #dropdown_raumgl #spatial_range_gebiete .dropdown_gebietsauswahl{
    width:100%;
}
.toolbar #content #dropdown_raumgl #spatial_range_gebiete .dropdown_gebietsauswahl #dropdown_grenzen_container{
    float:left;
    width:90%;
}
.toolbar #content #dropdown_raumgl #spatial_range_gebiete .dropdown_gebietsauswahl #clear_gebietsauswahl{
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 0.1rem;
    cursor: pointer;
}
/*spatial slider inside the raster choices */
.toolbar #content #dropdown_raumgl #spatial_range_raster #slider_raum_container {
    display: block;
    margin-bottom: 0;
}
.toolbar #content #dropdown_raumgl #spatial_range_raster{
    display: none;
}
.toolbar #content #dropdown_raumgl #spatial_range_raster #slider_raum_container #raum_slider {
    margin-left: 10px;
    margin-right: 20px;
    display: block;
    margin-bottom: 50px !important;
    margin-top: 20px;
}
.toolbar #content #dropdown_raumgl #spatial_range_raster #slider_raum_container #raum_slider .ui-slider-range {
    background-color: #4E60AA;
}
/*Slider*/
#slider_zeit_container {
    position: fixed;
    left: 20%;
    z-index: 1000;
    width:300px;
    height: auto !important;
    min-height:50px;
    box-shadow: 0 0 3px gray;
    background-color: #4E60AA;
    bottom:20px;
}
#zeit_slider {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
#zeit_slider .ui-slider-range {
    background-color: #4E60AA;
}
.zeit_slider .ui-slider-label{
    color: white !important;
}
/*
Tools
 */
.btn_map {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 3px gray;
}
.vergleich{
    background: #4E60AA url(../assets/icon/split.png) no-repeat center;
}
.germany {
    background: #4E60AA url(../assets/icon/germany.png) no-repeat center;
}
.zoomIn {
    background: #4E60AA url(../assets/icon/plus.png) no-repeat center;
}
.zoomOut {
    background: #4E60AA url(../assets/icon/minus.png) no-repeat center;
}
.info {
    background: #4E60AA url(../assets/icon/information-button.png) no-repeat center;
}
.locate{
    background: #4E60AA url(../assets/icon/navigation.png) no-repeat center;
}
.rasterize{
    background: #4E60AA url(../assets/icon/smooth.png) no-repeat center;
}
.layer_control{
    background: #4E60AA url(../assets/icon/navigation.png) no-repeat center;
}
#content .dropdown_menu .btn_container .full_screen{
    width: 32px;
    height: 32px;
    background: #4E60AA url(../assets/icon/fullscreen-symbol.png) no-repeat center center;
    margin-left: 7px;
}
#content .dropdown_menu .btn_container #measure {
    width: 32px;
    height: 32px;
    background: #4E60AA url(../assets/icon/ruler.png) no-repeat center center;
    margin-left: 7px;
}
#content .dropdown_menu .btn_container #t_slider{
    width: 32px;
    height: 32px;
    background: #4E60AA url(../assets/icon/timeslider.png) no-repeat center center;
    margin-left: 7px;
}
#content .dropdown_menu .btn_container #lupe {
    width: 32px;
    height: 32px;
    background: #4E60AA url(../assets/icon/lupe.png) no-repeat center center;
    margin-left: 7px;
}
#content .dropdown_menu hr {
    border-top: 1px solid black;
    margin-top:0px;
}
#content #dropdown_werkzeug #import {
    width: 32px;
    height: 32px;
    background: #4E60AA url(../assets/icon/import.png) no-repeat center center;
    margin-left: 7px;
}
#content #dropdown_werkzeug #import .leaflet-control-filelayer{
    opacity: 0 !important;
    width: 32px;
    height: 32px
}
#content #dropdown_werkzeug .werkzeug_vergleich{
    display: none;
}
#content .dropdown_menu #vergleich{
    width: 32px;
    height: 32px;
    background: grey url(../assets/icon/split.png) no-repeat center center;
    margin-left: 7px;
}
/*
color schema
 */
#farbwahl #farbwahl_btn{
    background-color: white;
    color: #555 !important;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#farbwahl_btn span{
    color: black;
    float: right;
    margin-top: 5px;
}
#farbwahl_btn .color-line {
    line-height: 15px;
    width: 90%;
    margin-left: 5px;
    margin-right: 10px;
    display: inline-block;
}
#farbwahl_btn .color-line i{
    height: 15px;
    float: left;
}
#color_schema{
    width: 90%;
    display: none;
}
#color_schema .color-line {
    line-height: 15px;
    width: 100%;
    margin-left: 10px;
    display: inline-block;
}
#color_schema .color-line i{
    height: 15px;
    float: left;
}
#layer_conainer{
    display: inline-block;
    width: 100%;
}
/*left content*/
.left_content{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
}
.panner{
    display: none;
    position:fixed;
    width:60px;
    height:60px;
    z-index: 1000;
    right: 0;
    top: 265px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.tablebackground{
    background: #4E60AA url(../assets/icon/table-grid.png) no-repeat center;
}
.mapbackground{
    background: #4E60AA url(../assets/icon/germany_32.png) no-repeat center;
}
/*barchart*/
.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}
/*Text class styling*/
.text {
    fill: white;
    font-family: sans-serif
}
#map {
    width:100%;
    height: 100%;
    background-color: white;
}
#map_print{
    float: right;
    margin-top: 3px;
    width: 160.8px;
    height: 150px;
    background-color: white;
}
.backButton{
    font-size: 3.5em;
}
.drop_arrow{
    float:left;
    color: white;
}
.dropdown_menu_d {
    display: none;
    overflow: auto;
    margin-bottom: 10px;
}
#user_choice{
    margin-top: 10px;
    display:none;
}
#content .dropdown_menu .tool_li {
    float: left;
    width: 15%;
    margin-left: 15px;
}
#content .dropdown_menu .btn_container {
    margin-right: 10px;
    cursor: pointer;
}
#content .dropdown_menu .btn_container .btn_txt {
    padding-top: 3px;
    padding-left: 6px;
}
.layer_ue {
    display:inline-block;
    width: 100%;
}
.klassifizierung form{
    display: inline-block;
    width: 100%;
}

.klassifizierung form .radio_left{
    float: left;
    width: 50%;
}
.klassifizierung form .radio_right{
    float: left;
    width: 50%;
}
#content .dropdown_menu #layer_conainer hr {
    border-top: 1px solid black;
    margin-top:0px;
    margin-bottom: 5px;
}
#content .dropdown_menu #layer_conainer form{
    margin-top:0px;
}

#opacity_container {
    margin-left: 10px;
    margin-right:10px;
    display: block;
    margin-bottom: 40px;
}
#opacity_slider {
    margin-bottom: 10px;
    margin-left:10px;
    margin-top: 10px;
}
#opacity_slider .ui-slider-range {
    background-color: #4E60AA;
}
#op_low {
    float:left;
}
#op_high {
    float:right;

}
hr.hr_export{
    margin-bottom: 8px;
}
#menu_raumgl select option:disabled{
    color: #e6e6e6;
}
#menu_raumgl_fein select option:disabled{
    color: #e6e6e6;
}
.dropdown_menu .btn_export {
    background: #8CB91B;
    color:white;
    width: 40%;
    margin-right: 10px;
}
#wfs{
    margin-top: 5px !important;
}
.dropdown_menu #btn_kartenlink{
    background: #8CB91B;
    color:white;
    width: 60%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.export_div{
    margin-top: 10px;
}
#dd_grob_fein {
    display: none;
}
.dropdown_menu #wms {
    float: left;
    margin-right: 10px;
}
.dropdown_menu #wcs {
    margin-right: 10px;
    margin-left: 10px;
}
.dropdown_menu #kartenlink{
    background: #8CB91B;
    color: white;
    margin-bottom: 10px;
}
#btn_link_laden{
    margin-top: 5px;
    background:#8CB91B;
}
#bild {
    float: right;
    margin-right: 20px !important;
}
.wfs_btn{
    margin-right: 10px;
}
/*IMPRESSUM*/
.toolbar #impressum{
    position: absolute;
    bottom: 0;
    display: inline;
}
.toolbar #impressum a{
    margin-right: 20px;
}
/*
Vergleichskarte Dialog------------------------------------
*/
#vergleich_dialog {
    display: none;
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 60px;
    z-index: 3000;
    border: 2px solid #4E60AA;
    width:550px;
    background: white;
    overflow-x: hidden;
    height:auto;
    min-height: 600px;
}
#vergleich_dialog #close_vergleich{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
#vergleich_dialog #close_vergleich .close{
    float: right;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
#vergleich_dialog #close_vergleich .destroy{
    float: right;
    font-weight: bold;
    margin-right: 20px;
}
#vergleich_dialog .auswahlcontainer{
    width: 50%;
    float:left;
}
#vergleich_dialog .ind_content{
    display: none;
}
#vergleich_dialog .auswahlcontainer #time_range_raster_vergleich{
    margin-top: 20px;
}
#vergleich_dialog .auswahlcontainer .vergleich_container #zeit_slider_vergleich{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
#vergleich_dialog .auswahlcontainer .vergleich_container #zeit_slider_vergleich .ui-slider-label{
    color: black !important;
}
#vergleich_dialog .auswahlcontainer #spatial_range_raster_vergleich{
    margin-top: 40px;
    display: block;
}
#vergleich_dialog .auswahlcontainer .vergleich_container #raum_slider_vergleich{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
#vergleich_dialog .auswahlcontainer .vergleich_container #raum_value_vergleich{
    margin-right: 20px;
    margin-left: 10px;
}
#vergleich_dialog .auswahlcontainer #klassifizierung_vergleich{
    margin-top: 40px;
}
#vergleich_dialog .auswahlcontainer #klassifizierung_vergleich #menu_klassenanzahl_vergleich{
    margin-top: 20px;
}
#vergleich_dialog .auswahlcontainer #klassenbestzung_vergleich{
    margin-top: 20px;
}
#vergleich_dialog .auswahlcontainer #klassenbestzung_vergleich #menu_klassifizierung_vergleich{
    margin-top: 20px;
}
#vergleich_dialog .legende_vergleich{
    float: right;
    width: 40%;
}
#create_vergleichskarte_button{
    margin-top: 50px;
}
/*
OGC Dialoge-----------------------------
 */
.ogc_dialog img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ogc_dialog h4{
    margin-bottom: 0;
}
.ogc_dialog .ogc_accecpt_container{
    display:inline-block
}
.ogc_dialog .ogc_accecpt_container span{
    margin-left: 10px;
}
.ogc_dialog .ogc_accecpt_container span a {
    color: #006dcc;
}
.ogc_dialog .ogc_allow{
    display: none;
    margin-top: 10px;
}
.ogc_dialog .ogc_allow .link_container{
    width: 100%;
    display: inline-block;
}
.ogc_dialog .ogc_allow .link_container h3{
    margin-top: 5px;
    color:#006dcc;
    float:left;
}
.ogc_dialog .ogc_allow .link_container .ogc_info{
    border-radius: 50%;
    background: #006dcc url(../assets/icon/information.png) no-repeat center;
    width:32px;
    height:32px;
    float: right;
    margin-right: 10px;
}
.ogc_dialog .ogc_anleitung{
    margin-bottom: 0;
}
.ogc_dialog .ogc_anleitung a{
    text-decoration: none;
    text-align: center;
}
.ogc_dialog .ogc_anleitung a button{
    margin-left:15px;
}
/*Right Pane
Solution fixed headers: https://stackoverflow.com/questions/673153/html-table-with-fixed-headers
 */
#rightPane{
    background: white;
}
.right_content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 60px 10px 10px;
    overflow: hidden;
    background-color: white;
}
.right_content .table_page{
    width:100%;
}
.right_content .table_page .table_page_header{
    height: 15%;
    width: 100%;
}
.right_content .table_page_header .close_table{
    width: 100%;
    display: inline-block;
}
.right_content .table_page_header .close_table .glyphicon-remove{
    float: right;
    font-size: 1.2em;
    cursor: pointer;
}
.right_content .table_page_header #interact_div {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}
.right_content .table_page_header #interact_div #print_table{
    width: 30px;
    height: 30px;
    background: white url(../assets/icon/print_dark.png) no-repeat center center;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.right_content  .table_page_header #interact_div #csv_export{
    width: 30px;
    height: 30px;
    background: white url(../assets/icon/csv-down.png) no-repeat center center;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.right_content .table_page_header #interact_div #btn_table{
    float: right;
    margin-right: 10px;
    pointer-events: auto;
}
.right_content .table_page_header #interact_div #btn_table i{
    margin-right: 5px;
}
.right_content .table_page_header #search_input_table{
    margin-top: 10px;
}
.right_content .table_page .scrollable-area {
    position: absolute;
    overflow: auto;
    bottom: 10px;
    height:100%;
    top:15%;
    /*width:100%;*/
    margin-left: 5px;
    margin-right: 5px;
}
.right_content .scrollable-area #table_ags{
    background: #FFF;
    box-shadow: none;
    text-align: left;
    color: rgba(0,0,0,.87);
    border-spacing: 0;
    border: 1px solid black;
    margin-bottom: 10px;
}
.right_content .scrollable-area table.tablesorter thead .header:not(.expand)
{
    background: white url(../assets/icon/bg.gif) no-repeat center right;
    padding-right: 20px;
    cursor: pointer;
}
.right_content .scrollable-area table.tablesorter thead tr .headerSortUp
{
    background-image: url(../assets/icon/asc.gif);
}
.right_content .scrollable-area table.tablesorter thead tr .headerSortDown
{
    background-image: url(../assets/icon/desc.gif);
}
.right_content .scrollable-area table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp
{
    color: #000;
}
.right_content .scrollable-area #table_ags #thead{
    z-index: 200000;
    opacity: 1 !important;
    background-color: lightgray !important;
}
.right_content .scrollable-area #table_ags #thead tr th{
    font-size: 12px;
    text-align: center;
    overflow:hidden;
    border: 1px solid black;
}
.right_content .scrollable-area #table_ags tr td{
    display: table-cell;
    border: 1px solid black;
    padding: 2px;
    font-size: 12px;
}
.right_content .scrollable-area #table_ags tr:hover{
    background-color:lightgray;
}
.right_content .scrollable-area #table_ags tr .td_name{
    text-align:left;
}
.right_content .scrollable-area #table_ags tr .td_ags{
    text-align:center;
}
.right_content .scrollable-area #table_ags tr .td_akt{
    text-align:right;
}
.right_content .scrollable-area #table_ags tr .val-ags{
    text-align: right;
}
.right_content .scrollable-area #table_ags tr .val-grundakt{
    text-align: right;
}
.right_content .scrollable-area #table_ags img{
    cursor: pointer;
}
.right_content .scrollable-area #table_ags tr .count_ags_table{
    text-align: right;
}
.right_content .scrollable-area #table_ags .tfoot tr{
    background-color: lightgray;
}
.right_content .scrollable-area #table_ags .tfoot tr td{
    border: 1px solid black;
}
.right_content .scrollable-area #table_ags #tfoot_brd{
    border-top: 2px solid black;
}
/*
expand table
 */
.right_content .scrollable-area #table_ags tr .dif_val_div{
    margin-left: 1vh;
}
.right_content .scrollable-area #table_ags tr .dif_val_div .glyphicon{
    color: #4E60AA;
    font-size: 2em;
}
.right_content .scrollable-area #table_ags tr .dif_val_div b{
    margin-left: 1vh;
}
.right_content .scrollable-area #table_ags tr .dif_val_div .positiv{
    transform: rotate(-40deg);
}
.right_content .scrollable-area #table_ags tr .dif_val_div .negativ{
    transform: rotate(40deg);
}
.right_content .scrollable-area #table_ags .grey_border{
    border-left: 6px solid grey !important;
}
/*
tabelle filtern
 */
.right_content .filter{
    width: 35px;
    height: 35px;
    background: white url(../assets/icon/filter.png) no-repeat center center;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.right_content #filter_div{
    display: none;
    position: absolute;
    height: 100%;
    width: 250px;
    background: white;
    border: 1px solid #4E60AA;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 20000;
    padding: 20px;
    opacity: 1;
}
.right_content #filter_div .title_filter_table{
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 2px;
}
/*
    Tabelle erweitern panel
*/
.right_content #tabelle_erweitern{
    display: none;
    position: absolute;
    height: 100%;
    width: 250px;
    background: white;
    border: 1px solid #4E60AA;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 20000;
    padding: 20px;
    opacity: 1;
}
.right_content #tabelle_erweitern .panel_choice_container{
    margin-bottom: 10px;
}
.right_content #tabelle_erweitern #btn_table_indikator_add{
    width: 100%;
}
.right_content #tabelle_erweitern .table_add{
    width: 100%;
    margin-top: 10px;
}
.right_content #tabelle_erweitern #indikator_choice_container_table {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.right_content #tabelle_erweitern .ddm_table{
    width: 100%;
}
.right_content #tabelle_erweitern .ddm_table .menu{
    height: auto;
    z-index: 20000 !important;
}
.right_content #tabelle_erweitern .ddm_table .menu i{
    margin-right: 30px;
}
.right_content #tabelle_erweitern .ddm_table .menu .item{
    background-color: white;
}
.right_content #tabelle_erweitern .ddm_table .menu .item:hover{
    font-weight: bold;
}
.right_content #tabelle_erweitern .ddm_table .menu .submenu{
    z-index: 20000 !important;
    overflow-x: hidden;
}
.right_content #tabelle_erweitern #kenngroessen_ddm_table #ue_raum_sum_content .ue_sum_content_table_erweitern{
    margin-left: 60px;
}
.right_content #tabelle_erweitern #kenngroessen_ddm_table #ue_raum_sum_content .ue_sum_content_table_erweitern:first-child{
    margin-top: 10px;
}
.right_content #tabelle_erweitern #zeitschnitt_choice_container_table .hinweis{
    margin-top: 5px;
    margin-bottom: 10px;
}
.right_content #tabelle_erweitern #hinweis_time_expand_linear{
    display: none;
    margin-bottom: 10px;
}
.right_content #tabelle_erweitern #hinweis_ind_expand{
    display: none;
}
.right_content #tabelle_erweitern #hinweis_time_expand{
    display: none;
}
.right_content #tabelle_erweitern #trend_hinweis_expand{
    display: none;
}
.right_content #tabelle_erweitern #hinweis_time_expand_null{
    display: none;
}
.right_content #tabelle_erweitern #trend_hinweis_expand b{
    color: red;
}
.right_content #tabelle_erweitern #hinweis_time_expand_null b{
    color: red;
}
.right_content #tabelle_erweitern #btn_table{
    pointer-events: auto;
}
.right_content #tabelle_erweitern #btn_table_remove_expand{
    background-color: grey !important;
    width: 100%;
    margin-top: 10px;
}
.right_content #tabelle_erweitern #btn_table_load_expand{
    width: 100%;
    background-color: #4E60AA !important;
    margin-top: 10px;
}
.right_content #tabelle_erweitern #btn_table_clear_expand{
    width: 100%;
    background-color: grey !important;
    margin-top: 10px;
}
.right_content #tabelle_erweitern #btn_table_clear_expand i {
    float: left;
}
/*
Icons for diagramme in Table and Map PopUp
 */
.PopUp{
    word-break: break-all;
}
.indikatoren_gebietsprofil{
    margin-right: 5px;
    cursor:pointer;
}
.hc_icon{
    margin-right: 5px;
    cursor:pointer;
}
.histogramm_ags{
    margin-left: 5px;
    cursor:pointer;
}
.indikatoren_diagramm_ags{
    cursor:pointer;
}
.ind_entwicklungsdiagr{
    cursor:pointer;
}
/*entwicklungsdiagramm*/
#entwicklungsdiagramm_content .container{
    width: 90%;
    height: 90%;
}
#entwicklungsdiagramm_content #diagramm_button{
    width: 80%;
}
#entwicklungsdiagramm_content #diagramm_options{
    display: inline-block;
    width: 100%;
}
#entwicklungsdiagramm_content #indikator_choice_container_diagramm{
    width: 48%;
    margin-right: 10px;
    float:left;
}
#entwicklungsdiagramm_content #diagramm_export{
    float: left;
}
#entwicklungsdiagramm_content #diagramm_export #digramm_export_container{
    float: left;
    display: inline;
}
#entwicklungsdiagramm_content #diagramm_export #digramm_export_container #diagramm_download_format_choice{
    min-width: 1em !important;
}
#entwicklungsdiagramm_content #diagramm_choices{
    float: right;
    width: 25%;
}
#entwicklungsdiagramm_content #diagramm_choices #digramm_choices_container{
    float: right;
    display: inline;
}
#entwicklungsdiagramm_content #diagramm_choices #digramm_choices_container .checkboxes{
    margin-top: 10px;
}
#entwicklungsdiagramm_content #diagramm_choices #digramm_choices_container .checkboxes label{
    display: block;
    float: left;
    padding-right: 10px;
    white-space: nowrap;
}
#entwicklungsdiagramm_content #diagramm_choices #digramm_choices_container .checkboxes input {
    vertical-align: middle;
    margin-right: 10px;
}
#entwicklungsdiagramm_content #diagramm_choices #digramm_choices_container .checkboxes label span {
    vertical-align: middle;
}
#entwicklungsdiagramm_content #diagram_view{
    float:right;
    margin-right: 5px !important;
    margin-top: 20px;
    width: auto;
}
#entwicklungsdiagramm_content #legende_diagramm_container{
    float: right;
    width: 100%;
}
#entwicklungsdiagramm_content #legende_diagramm_container .legende_single_part_container{
    display: inline;
}
#entwicklungsdiagramm_content .legende_single_part_container .legende_single_part_circle{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 0;
    float: left;
}
#entwicklungsdiagramm_content #legende_diagramm_container .legende_single_part_container .legende_single_part_line{
    margin-top: 5px;
    width: 50px;
    float:left;
}
#entwicklungsdiagramm_content #legende_diagramm_container .legende_single_part_container .legende_single_part_line hr{
    margin: 0;
}
#entwicklungsdiagramm_content #legende_diagramm_container .legende_single_part_container span{
    float: right;
    margin-left: 20px;
}
#entwicklungsdiagramm_content >.menu{
    min-height: 280px;
    height: auto;
    z-index: 20000 !important;
}
#entwicklungsdiagramm_content .menu .item{
    background-color: white;
}
#entwicklungsdiagramm_content .menu .item:hover{
    font-weight: bold;
}
#entwicklungsdiagramm_content .menu .submenu{
    z-index: 20000 !important;
    height: auto;
    overflow-y: auto;
    width: auto;
}
#entwicklungsdiagramm_content #diagramm_info_text{
    display: block;
    margin-top: 10px;
}
#entwicklungsdiagramm_content #diagramm .Hinweis_diagramm{
    margin-top: 30px;
    display: none;
}
#entwicklungsdiagramm_content #diagramm #visualisation{
    width: 100%;
    height: 100%;
}
#entwicklungsdiagramm_content #diagramm #visualisation circle{
    cursor: pointer;
}
#entwicklungsdiagramm_content #tooltip{
    background-color: white;
    display: none;
    position:absolute;
    padding:5px;
    font-weight: bold;
}
/*
Kennblatt
 */
.export{
    width:100%;
    height: 40px;
}
.export #print_btn_kennblatt{
    float: right;
    margin-bottom: 2vh;
}
#kennblatt_form{
    width: 100%;
    height: 100%;
    margin:10px;
}
#kennblatt_form .header{
    font-weight: bold;
    font-size: 1.7vh;
    padding-bottom: 0.5vh;
    padding-top: 1vh;
    float: left;
    width:80%;
}
#kennblatt_form .text{
    width:90%;
    float:left;
}
#kennblatt_form .text label{
    font-weight: normal;
}
#kennblatt_form a{
    color: blue;
}
/*D3*/
.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: #4E60AA;
    stroke-width: 5px;
}

.overlay {
    fill: none;
    pointer-events: all;
}
/*
print
 */
#print_container {
    display: none;
    width: 99%;
}
#print_container .btn_dropdown{
    width: 30%;
    background-color: #4E60AA;;
}
#print_container .btn_dropdown i{
    margin-right: 10px;
}
#print_container .print_map_content{
    display: block;
    width: 90%;
    height: 600px;
    margin-top: 20px;
}
#print_container .print_map_content .print_header{
    width: 100%;
    color: black;
    margin-left: 10px;
    margin-top: 20px;
}
#print_map > div:nth-child(1) > div:nth-child(3) > svg:nth-child(1){
    margin-top: 50px;
    margin-left: 20px;
}
#print_container .print_map_content .print_header h3{
    margin-bottom: 1px;
}
#print_container .print_map_content .print_header hr{
    margin-left: 0;
    width: 95%;
}
#print_container .print_map_content .ioer_logo{
    background-image: url(../assets/header.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    background-size: 99%;
    width: 30%;
    float: left;
}
#print_container .print_map_content  .map_print_container{
    width: 70%;
    height: 100%;
    float: left;
}
#print_container .print_map_content  .map_print_container #print_map{
    width: 100%;
    height: 100%;
    background-color:white;
    margin-top: 20px;
}
#print_container .print_map_content .map_print_container #print_map .leaflet-control-scale-line{
    margin-left: 20px;
}
#print_container .print_map_content .map_print_container #print_map .leaflet-control-attribution{
    margin-right: 20px;
}
#print_container .print_info_content{
    float: left;
    display: block;
    width: 30%;
}
#print_container .print_info_content #print_legende{
    width: 100%;
    float:left;
}
#print_container .print_info_content .map_projection_print_container{
    float:right;
    width: 100%;
    margin-top: 20px;
}
#print_container .print_info_content .histostogramm_print_container{
    float:right;
    width: 100%;
    margin-top: 20px;
}
#print_container .print_info_content .histostogramm_print_container #print_histogramm{
    width: 95%;
}
#print_container .print_bottom{
    width: 95%;
    display: block;
    height: 200px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
#print_container .print_bottom .datengrundlage_print_container{
    margin-top: 10px;
}
#print_container .print_bottom .hr{
    width:100%;
}
#print_container #export_pdf{
    max-width: 300px;
    width: 25%;
}
/*The Menu Icons*/
.notify-icon span{
    display: inline-block;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    animation: pulse .6s 4 forwards;
    transform-origin: center center;
}
@keyframes pulse{
    0%{
        transform: scale(5.5);
        opacity: .2;
    }
    50%{
        opacity: .8;
    }
    100%{
        transform: scale(.1);
        opacity: 1;
    }
}
@media only screen and (max-width : 1280px) {
    .navbar-text{
        margin-left: 5px !important;
    }
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 1024px) {
    .toolbar{
        height: 100%;
        bottom: 0;
        width: 300px;
    }
    .toolbar_close{
        left: -300px;
    }
    .navbar-text{
        display: none;
    }
    #slider_zeit_container {
        min-height: 50px;
        left: 20% !important;
        width: 200px !important;
    }
    .indikator_header{
        left: 20% !important;
        white-space: normal;
        width: 200px !important;
    }
    .hr_time{
        display: none;
    }
    #entwicklungsdiagramm_content{
        overflow-y:auto !important;
    }
    #header_slider_zeit{
        display: none;
    }
    .navbar-text{
        display: none;
    }
    #legende_l{
        display: none;
    }
    #legende_button_l{
        display: block !important;
        left: 0;
    }
    #content #dropdown_raumgl .spatial_choice .label_spatial_choice {
       font-size: 1.5rem !important;
    }
    #content #dropdown_raumgl .spatial_choice #spatial_choice_checkbox_container label:before{
        width: 3.5rem !important;
        height: 2.5rem !important;
        background: #8CB91B !important;
    }
    #content #dropdown_raumgl .spatial_choice #spatial_choice_checkbox_container label:after{
        width: 1.5rem !important;
        height: 2.5rem !important;
    }
    #export_map{
        display:none !important;
    }
}
/* media queries*/
@media only screen and (max-width : 700px) {
    #progress_div{
        right: 5% !important;
        left: 5% !important;
    }
    .hr_time{
        display: none;
    }
    #header_slider_zeit{
        display: none;
    }
    .navbar-text{
        display: none;
    }
    .modus_list li{
        width: 30% !important;
        padding: 0 !important;
    }
    .legende #datenalter_container{
        display: none !important;
    }
    #vergleich_dialog{
        width: 90%;
        max-height: 600px;
        min-height: 300px;
    }

}
@media only screen and (max-width : 500px) {
    .toolbar{
        width:90%;
        left: 0 !important;
    }
    .toolbar_close{
        left: -90% !important;
    }
    #vergleich_dialog{
        width: 90%;
        height: 80%;
    }
    #klassenbestzung_vergleich{
        display: none;
    }
    #interact_div{
        display: none !important;
    }
    #scrollable-area{
        width: 100%;
    }
    #layer_control .maps .float-right{
        width:100%;
    }
}