table thead {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #f3f3f3;
    color: #000000;
    display:table-header-group;
}

th {
    text-align: left;
}
tbody {
    display:table-row-group;
}
#table_ags img{
    display: none;
}
