:root{
    --main-color:#4E60AA;
    --active-color:#8CB91B
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 0;
    text-decoration: none;
}
.cursor{
    cursor:pointer;
}
.disabled{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5;
}
.float-right{
    float: right !important;
}
/*JQuery Dialog*/
.ui-widget-overlay.custom-overlay
{
    background-color: black;
    background-image: none;
    opacity: 0.9;
    z-index: 1040;
}
/*colors*/
.text-black{
    color:black !important;
}
/*width*/
.w-100{
    width:100% !important;
}
.w-75{
    width:75% !important;
}
.w-50{
    width:50% !important;
}
.w-30{
    width:30% !important;
}
.w-35{
    width:35% !important;
}
.w-25{
    width:25% !important;
}
/*Buttons*/
.btn-outline-dark{
    border: 1px solid black;
    background-color: white;
}
.btn_dropdown {
    background-color: #8bba23 !important;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    color:white;
}
.btn_dropdown:hover{
    color:var(--main-color);
}
/*search*/
.prompt {
    border-radius: 0 !important;
    border:1px solid black !important;
}
/*selections*/
.selected{
    background-color: var(--active-color);
    font-weight: bold;
}
/*break word*/
.wordbreak{
    word-break: inherit;
    word-wrap: break-word;
    overflow-wrap: break-word;
}