/* HERE THE STATISTICS CSS */

#statistics_content .container{
    width: 90%;
    height: 90%;
}


#statistics_content #selectedArea{

}

#statistics_content #selectedAGS{

}
#statistics_content #timeStamp{

}
#statistics_content #currentValue{

}

#statistics_content >.menu{
    min-height: 280px;
    height: auto;
    z-index: 20000 !important;
}
#statistics_content .menu .item{
    background-color: white;
}
#statistics_content .menu .item:hover{
    font-weight: bold;
}
#statistics_content .menu .submenu{
    z-index: 20000 !important;
    height: auto;
    overflow-y: auto;
    width: auto;
}

#statistics_content #statistics_diagramm #statistics_visualisation{
    width: 100%;
    height: 100%;
}

#statistics_content #statistics_diagramm{
    position: absolute;
}

#statistics_container_diagramm{
    position: absolute;
}

#tooltip {
    background-color: white;
    display: none;
    padding: 5px;
    position: absolute;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    border: 1px solid black;

}

#intervalInfo {
    background-color: white;
    display: none;
    padding: 5px;
    position: absolute;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    border: 1px solid black;

}

#statistics_info_container{
    overflow:auto
}
#area_info{
    float:left;
}
#statistics_table_container{
    float:none;
}
#table_title {
    text-align: center
}
path.plot {
    stroke: #FFA319;
}

.table #statistics_table{
    margin-left:auto;
    margin-right:auto}

.table_element{
    border:1px solid black;
    padding:5px}

.even{
    background-color:white
}
.uneven{
    background-color:gainsboro
}
#chart_select_container{
    margin-left: 10%
}
#intervalCountInputField{
    width:60px
}